{% load static %}

<!DOCTYPE html>
<!-- Coding by CodingLab | www.codinglabweb.com-->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Signup Form </title>

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">


    <!-- Boxicons CSS -->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>

</head>

<body>
    <section class="container forms">
        <div class="form login">
            <div class="form-content">
                <header>Login</header>
                <form method="POST" action="{% url 'login' %}">
                    {% csrf_token %}
                    <div class="field input-field">
                        <input type="email" placeholder="Email" name="email" class="input" required>
                    </div>

                    <div class="field input-field">
                        <input type="password" placeholder="Password" name="password" class="password" required>
                        <i class='bx bx-hide eye-icon'></i>
                    </div>

                    <div class="field button-field">
                        <button type="submit">Login</button>
                        <!--<input type="submit" value="Log In" style="background-color: #4070f4;; color: white;">-->
                    </div>
                </form>
                {% if form.errors %}
                <p class="error-message">Invalid credentials. Please try again.</p>
                {% endif %}

                <div class="form-link">
                    <span>Don't have an account? <a href="/signup/" class="link signup-link">Signup</a></span>
                </div>
            </div>



        </div>


    </section>
</body>

</html>
