{% load static %}

<!DOCTYPE html>
<!-- Coding by CodingLab | www.codinglabweb.com-->
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Signup Form </title>

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <!-- Boxicons CSS -->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>

</head>

<body>
    <section class="container forms">
        

        <!-- Signup Form -->
        <div class="form login">
            <div class="form-content">
                <header>Signup</header>
                <!-- signup_form.html -->
                <form method="POST" action="{% url 'signup' %}">
                    {% csrf_token %}
                    <div class="field input-field">
                    <input type="email" placeholder="Email" name="email" required><br>
                    </div>

                    <div class="field input-field">
                    <input type="text" placeholder="First Name" name="first_name" required><br>
                    </div>

                    <div class="field input-field">
                    <input type="text" placeholder="Last Name" name="last_name" required><br>
                    </div>

                    <div class="field input-field">
                    <input type="password" placeholder="Password" name="password" required><br>
                    </div>

                    <div class="field input-field">
                    <input type="password" placeholder="Confirm Password" name="confirm_password" required><br>
                    </div>

                    <div class="field input-field">
                    <input type="text" placeholder="Omang" name="omang" required><br>
                    </div>

                    <div class="field input-field">
                    <input type="date" name="date_of_birth" required style="color: gray;"><br>
                    </div>

                    <div class="field input-field">
                    <select name="gender" required style="border: none; background-color: rgba(255, 255, 255, 0);">
                        <option value="M">Male</option>
                        <option value="F">Female</option>
                        <option value="O">Other</option>
                    </select><br>
                    </div>

                    <div class="field input-field">
                    <input type="text" placeholder="Phone Number" name="phone_number" required><br>
                    </div>

                    <div class="field input-field">
                    <input type="text" placeholder="Postal Address" name="postal_address" required><br>
                    </div>

                    <div class="field input-field">
                    <input type="text" placeholder="Physical Address" name="physical_address" required><br>
                    </div>

                    <div class="field button-field">
                    <input type="submit" value="Sign Up" style="background-color: #4070f4;; color: white;">
                    </div>
                </form>
                {% if form.errors %}
                <p class="error-message">Invalid credentials. Please try again.</p>
                {% endif %}

                <div class="form-link">
                    <span>Already have an account? <a href="/login/" class="link signup-link">Back</a></span>
                </div>
        </div>
    </section>

</body>

</html>